.body {
    display: flex;
    flex-direction: column;
    font: "Arial", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #1F2937;
    align-items: center;
    
   
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
    margin-left: 100px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    margin-right: 100px;
    
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.below-header {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
}

.left-block {
    font-size: 18px;
    color: #e5e7eb;
}
